@use "./partials/keyframes" as *;

@font-face {
  font-family: "PokeFont";
  src: url("../assets/fonts/PKMN\ RBYGSC.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "PokeFont";
}

body {
  background-image: url("../assets/images/background-pokemon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.pokeponent {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  margin-top: 5rem;
  width: 266.44px;
  display: flex;
  &--pic {
    position: relative;
  }
  &--hpbar {
    border: 1px solid black;
    width: 10rem;
    height: 1rem;
    position: relative;
    background-color: white;
  }
  &--hpleft {
    position: absolute;
    width: 10rem;
    height: 1rem;
    background-color: green;
  }
}
.pokeme {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 96px;
  &--pic {
    position: relative;
  }
  &--hpbar {
    @extend .pokeponent--hpbar;
  }
  &--hpleft {
    @extend .pokeponent--hpleft;
  }
}

//combat log styling
.combat-log {
  width: 30rem;
  height: 105px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
}

//moves styling
.moves {
  justify-content: space-between;
  width: 25rem;
  height: 135px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: none;
  cursor: pointer;
}
.move1,
.move2,
.move3,
.move4 {
  width: 50%;
  border: 1px solid black;
  padding: 1rem;
}
.choice {
  width: 25rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.4rem;
  background-color: white;
  display: none;
}

//move type coloring
.water {
  background-color: #9bb8fe;
}
.fire {
  background-color: orangered;
}
.normal {
  background-color: #e0e0cf;
}
.ground {
  background-color: #f9d2b6;
}
.ice {
  background-color: #bdf3f3;
}
.flying {
  background-color: cadetblue;
}
.fighting {
  background-color: sandybrown;
}
.damage {
  animation: pokemonDamage 0.5s;
}
.attackMe {
  animation: pokemonMoveMe 1s;
}
.attackOp {
  animation: pokemonMoveMe 1s;
}
.gameboy {
  background-image: url("../assets/images/3608777-middle.png");
  background-size: cover;
  width: 50rem;
  margin: 0 auto;
  padding-top: 7rem;
  height: 100%;
  border-radius: 15px;
  &__gamescreen {
    width: 30rem;
    height: 20rem;
    background-image: url("../assets/images/background.png");
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
  }
}
.start-button {
  width: 100%;
  height: 100%;
}
.music {
  display: none;
}
.reset {
  width: 100%;
  height: 100%;
}
.power-on {
  height: 20px;
  width: 20px;
  position: relative;
  left: 21.25rem;
  bottom: 29.25rem;
  border-radius: 50%;
  background-color: red;
}
.hide {
  display: none;
}

.volume {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.25rem;
  &--on {
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(42, 189, 57);
    background: radial-gradient(
      circle,
      rgba(42, 189, 57, 1) 0%,
      rgba(28, 125, 38, 1) 65%
    );
    border-radius: 50%;
    // Transition me!
    transition: 0.5s;
    &:hover {
      // Style me!
      cursor: pointer;
      filter: brightness(130%);
    }
  }
  &--mute {
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(189, 42, 42);
    background: radial-gradient(
      circle,
      rgba(189, 42, 42, 1) 0%,
      rgba(125, 28, 28, 1) 65%
    );
    border-radius: 50%;
    // Transition me!
    transition: 0.5s;
    &:hover {
      // Style me!
      cursor: pointer;
      filter: brightness(130%);
    }
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  & img {
    height: 10vw;
  }
}
